nav {
  /*Base nav class*/
  width: 100%;
  height: 38px;
  background-color: #002e74;
  overflow-y: hidden;
  position: fixed;
}
nav a {
  display: block;
  float: left;
  /*We're just setting up fonts settings here*/
  font-family: sans-serif;
  font-size: 13.5px;
  color: white;
  /*Padding Our Box*/
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-decoration: none;
}
nav a:hover {
  /*Changes background color on hover*/
  background-color: #17b0cf 
}
#logo {
  /*Logo extension*/
  /*font*/
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  /*Optional text shadow for the logo*/
  /*text-shadow: 1px 1px 2px #c4c4c4;*/

  /*box*/
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3.5px;
  margin-top: -20px;
  overflow-y: visible;
}
nav special {
  /*Helper class for the logo. as we do not want the hover effect present here.*/
  display: block;
  float: left;
  /*We're just setting up fonts settings here*/
  font-family: sans-serif;
  font-size: 13.5px;
  color: white;
  /*Padding Our Box*/
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-decoration: none;
}
#bottom-bar {
  /*Copyright text at bottom*/
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  font-size: 12px;
}
mark {
  /*Copyright text highlighting*/
   background-color: #808080;
   color: white;
   padding: 5px;
}
.wrapper {
  /*"Wrapping" our text in a margin*/
  margin: auto;
  width: 60%;
  padding: 10px;
}
figcaption {
  display: inline;
  font-size: 12px
}
.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.chartcenter {
  /*imgcenter for charts*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#responsive-chart {
  width: 100%;
  height: auto;
} 
.hr{
  width: 5px;
}